/**
 * Desktop only fixes.
 */

@media #{$bp-desktop-only} { .is-path-frontpage .content-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;

  @include display-flex();

  > div {
    margin-right: 0;
    margin-left: 0;
    
    @include display-flex();
    @include flex("flex-wrap", "wrap");
  }

  .block {
    height: 10%;
  }
}}
