#language-switcher {
  @media #{$bp-mobile-large-down} {
    padding: 15px;
  }

  .language-switcher-language-url {
    @media #{$bp-mobile-large-down} {
      display: none;
    }
  }

  .lang-dropdown {
    display: none;

    @media #{$bp-mobile-large-down} {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @media #{$bp-mobile-small-down} {
      width: 100%;
    }
  }
}

.layout-center {
  @media #{$bp-mobile-large-down} {
    padding-left: 25px;
    padding-right: 25px;
  }
}

header {
  @media #{$bp-mobile-large-down} {
    text-align: center;
  }

  .site-logo img {
    @media #{$bp-mobile-small-down} {
      width: 100%;
    }
  }
}

// Hamburger.
#superfish-main-toggle {
  @media #{$bp-mobile-large-down} {
    background: rgba(0, 0, 0, 0)
      url("../../../images/burger_menu-256.png") 
      no-repeat scroll -0.45em 0 / 48px auto;
    display: block;
    height: 48px;
  }

  > span {
    @media #{$bp-mobile-large-down} {
      display: none;
    }
  }
}

// Slider.
#block-views-block-banner-block-1 {
  margin-bottom: 15px !important;

  @media #{$bp-mobile-medium-down} {
    margin-top: 10px;
  }
  
  .flexslider {
    @media #{$bp-mobile-large-down} {
      border: 0;
      margin-bottom: 25px;
    }
  }

  .flex-control-paging {
    @media #{$bp-mobile-large-down} {
      display: none;
    }
  }
}

// Carousel.
#block-views-block-bud-carousel-block-1 {
  // margin-bottom: 42px !important;

  @media #{$bp-mobile-large-down} {
    // padding-left: 30px;
    // padding-right: 30px;
  }

  .owl-item:not(:last-child) {
    @media #{$bp-mobile-large-down} {
      // margin-right: 25px;
    }
  }

  .owl-prev,
  .owl-next {
    @media #{$bp-mobile-large-down} {
      background-color: transparent;
      background-size: 100% 100%;
      color: transparent;
      height: 60px;
      width: 25px;
      position: absolute;
    }
  }

  .owl-prev {
    @media #{$bp-mobile-large-down} {
      background-image: url("../../../extra-images/images/jcarousel-prev.png");
      left: -35px;
    }
  }

  .owl-next {
    @media #{$bp-mobile-large-down} {
      background-image: url("../../../extra-images/images/jcarousel-next.png");
      right: -35px;
    }
  }

  .owl-controls {
    @media #{$bp-mobile-large-down} {
      position: absolute;
      top: 18px;
      width: 100%;
    }
  }
}

.is-path-frontpage .content-wrapper > div {
  @media #{$bp-mobile-large-down} {
    padding-left: 25px;
    padding-right: 25px;
  }

  h2 {
    @media #{$bp-mobile-large-down} {
      margin: 0;
    }
  }

  .block {
    @media #{$bp-mobile-large-down} {
      min-height: 145px;
    }
  }

  .block img {
    float: left;
    margin-right: 10px;
  }
}

#featured-outer {
  @media #{$bp-mobile-large-down} {
    margin-left: -25px;
    margin-right: -25px;
    padding: 0 0 25px;
  }

  h1.page-title {
    @media #{$bp-mobile-large-down} {
      margin: 0 25px;
    }
  }

  p {
    @media #{$bp-mobile-large-down} {
      margin: 0;
      padding: 15px 50px;
    }
  }
}

body:not(.is-path-frontpage) #featured-outer {
  margin-top: 0;

  @media screen and (min-width: 1224px) {
    margin-top: 160px;
  }
}

#block-bud-breadcrumbs {
  @media #{$bp-mobile-large-down} {
    padding: 0 25px;
  }

  .breadcrumb a:link,
  .breadcrumb a:visited {
    @media #{$bp-mobile-large-down} {
      padding: 0px 14px 0px 0px;
      margin-right: 9px;
      display: block;
      color: #cccccc;
      float: left;
      background: url("../../../images/breadcrumb_separator.png") right center no-repeat;
    }
  }

  .breadcrumb {
    @media #{$bp-mobile-large-down} {
      padding-bottom: 0px;
      width: auto;
      padding: 0 0px;
      line-height: 1.2em;
      color: #999999;
    }
  }
}

#featured-footer {
  @media #{$bp-mobile-large-down} {
    @include padding();
    clear: both;
  }

  p {
    @media #{$bp-mobile-large-down} {
      margin: 0;
    }
  }

  img {
    @media #{$bp-mobile-large-down} {
      display: block;
      margin-left: auto;
      margin-right: auto;

    }
  }

  img:first-child {
    @media #{$bp-mobile-large-down} {
      margin-bottom: 35px;
    }
  }
}

#bud-footer {
  .layout-3col__col-1,
  .layout-3col__col-2,
  .layout-3col__col-3 {
    @media #{$bp-mobile-large-down} {
      @include padding();
    }
  }
}

#bottom-footer {
  @media #{$bp-mobile-large-down} {
    padding: 0 25px 25px;
  }
}

#bud-footer,
#bottom-footer {
  @media #{$bp-mobile-large-down} {
    background-color: #333;
    clear: both;
    color: #cecece;
    overflow: hidden;
  }
}

#bud-footer-inner {
  @media #{$bp-mobile-large-down} {
    background: rgba(0, 0, 0, 0)
      url("../../../images/footer-glow-bg.png")
      repeat-x scroll center top;
    overflow: hidden;
  }
}

#bud-footer-sub-inner {
  @media #{$bp-mobile-large-down} {
    background: rgba(0, 0, 0, 0)
      url("../../../images/footer-top-shadow.png")
      repeat-x scroll left top;
    overflow: hidden;
  }
}

#bottom-footer {
  @media #{$bp-mobile-large-down} {
    border-top: 1px solid rgba(#fff, 0.5);
  }
}

.is-page-node-type-page {
  h1.page-title {
    @media #{$bp-mobile-large-down} {
    }
  }

  #featured-outer {
    @media #{$bp-mobile-large-down} {
      padding: 25px 0;
      clear: both;
    }
  }

  .node_background {
    @media #{$bp-mobile-large-down} {
      background: #ffffff none repeat scroll 0 0;
      margin: -25px;
      padding: 25px;
    }
  }

  #block-supportlogosen {
    @media #{$bp-mobile-large-down} {
      margin-top: 25px;
      text-align: center;
    }
  }

  #block-supportlogosen p {
    @media #{$bp-mobile-large-down} {
      // margin-bottom: 25px;
    }
  }

  .bud-youtube-item {
    @media #{$bp-mobile-large-down} {
      margin-bottom: 25px;
      text-align: center;
    }
  }

  iframe {
    @media #{$bp-mobile-medium-down} {
      width: 100%
    }
  }
}

.is-path-calendar-date {
  #block-supportlogosen {
    @media #{$bp-mobile-large-down} {
      margin-top: 25px;
      text-align: center;
    }
  }

  #block-supportlogosen p {
    @media #{$bp-mobile-large-down} {
      // margin-bottom: 25px;
    }
  }
}

.is-page-node-type-date {
  iframe {
    @media #{$bp-mobile-medium-down} {
      width: 100%
    }
  }

  #block-supportlogosen {
    @media #{$bp-mobile-large-down} {
      margin-top: 25px;
      text-align: center;
    }
  }

  #block-supportlogosen p {
    @media #{$bp-mobile-large-down} {
      // margin-bottom: 25px;
    }
  }
}

// Preparation of the hamburger menu.
.sf-depth-1.menuparent {
  @media #{$bp-mobile-large-down} {
    margin-right: 15px;
  }
}

.sf-sub-indicator:after {
  @media #{$bp-mobile-large-down} {
    left: -2px !important;
    top: -2px !important;
  }
}

.sf-sub-indicator {
  @media #{$bp-mobile-large-down} {
    right: -5px !important;
    top: 57% !important;
  }
}

.sf-depth-1.is-active {
  @media #{$bp-mobile-large-down} {
    background: #992b2e none repeat scroll 0 0;
    border-radius: 5px;
    padding-right: 25px !important;
  }
}

.sf-depth-1.is-active .sf-sub-indicator {
  @media #{$bp-mobile-large-down} {
    right: 9px !important;
  }
}

ul#superfish-main li a {
  @media #{$bp-mobile-large-down} {
    text-decoration: none;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    line-height: normal;
    text-shadow: 0 2px 5px #333;
    padding: 8px 11px 7px;
  }
}

ul#superfish-main li ul {
  @media #{$bp-mobile-large-down} {
    background: #992B2E;
    border-radius: 0px 10px 10px 10px;
    margin-top: -3px;
  }
}

ul#superfish-main li ul li a {
  @media #{$bp-mobile-large-down} {
    color: #FFF;
    text-decoration: none;
  }
}

// Header backgrounds on mobile.
div#featured-outer {
  @media #{$bp-mobile-large-down} {
    clear: both;
    background: url("../../../images/featured2-shadow.png") left bottom repeat-x;
  }
}

div#featured {
  @media #{$bp-mobile-large-down} {
    background: url("../../../images/featured2-bg.png") left top repeat;
  }
}

div#featured {
  @media #{$bp-mobile-large-down} {
    background-color: #B41E1A;
    color: #c7c7c7;
  }
}

div#featured-inner {
  @media #{$bp-mobile-large-down} {
    background: url("../../../images/featured2-top-bg.png") left top repeat-x;
  }
}

div#featured-sub-inner {
  padding: 25px 0 40px;

  @media #{$bp-mobile-large-down} {
    background: url("../../../images/featured2-bottom-bg.png") left bottom repeat-x;
  }
}

div#featured-bg {
  @media #{$bp-mobile-large-down} {
    float: left;
    width: 100%;
    background: url("../../../images/featured-pattern-bg.png");
  }
}

#featured-bg-outer {
  @media #{$bp-mobile-large-down} {
    padding-bottom: 25px;
    background-color: #8FD6EA;
    float: left;
    width: 100%;
    clear: both;
  }
}

#featured-bg-outer {
  @media #{$bp-mobile-large-down} {
    float: left;
    width: 100%;
    clear: both;
    background-image: url("../../../images/featured-gr-bg.png");
    background-repeat: repeat-y;
    background-position: center top;
  }
}

#featured-outer .page-title {
  @media #{$bp-mobile-large-down} {
    color: #fff;
    font-weight: normal;
  }
}

div#language-switcher {
  @media #{$bp-mobile-large-down} {
    float: left;
    width: 100%;
    background: url("../../../images/featured-pattern-bg.png");
  }
}

div#language-switcher {
  @media #{$bp-mobile-large-down} {
    background-color: #6998A5;
    margin-bottom: 30px;
  }
}

// Buttons.
.is-page-node-type-page .button {
  @media #{$bp-mobile-large-down} {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%) repeat scroll 0 0;
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    line-height: 1em;
    margin-bottom: 10px;
    outline: medium none;
    overflow: visible;
    position: relative;
    white-space: nowrap;
  }

  @media #{$bp-mobile-small-down} {
    width: 100%;
  }

  &.red {
    @media #{$bp-mobile-large-down} {
      background-color: #E62727 !important;
      padding: 10px;
      border-radius: 4px;
      color: white;
    }
  }
}

// Search input.
input.form-search {
  @media #{$bp-mobile-small-down} {
    width: 100%;
  }
}

// Front columns.
.is-path-frontpage .content-wrapper {
  @media #{$bp-desktop-only} {
    @include display-flex();
    padding-top: 15px;
    padding-bottom: 15px;
  }

  > div {
    @media #{$bp-mobile-medium-only} {}

    @mixin fc-columns() {
      @include display-flex();
      @include flex("flex-wrap", "nowrap");
      margin: 0 0 15px;
      width: 100%;
    }

    @media #{$bp-mobile-medium-only} {
      @include fc-columns;
    }

    @media #{$bp-mobile-large-only} {
      @include fc-columns;
    }

    @media #{$bp-desktop-only} {
      @include display-flex();
      @include flex("flex-wrap", "wrap");
      width: 50%;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .block {
    @media #{$bp-mobile-medium-only} {
      width: 50%;
    }

    @media #{$bp-mobile-large-only} {
      width: 50%;
    }

    @media #{$bp-desktop-only} {
      height: 10%;
    }
  }

  .block:first-of-type {
    @media #{$bp-mobile-medium-only} {
      margin-right: 15px;
    }

    @media #{$bp-mobile-large-only} {
      margin-right: 15px;
    }
  }

  .block:last-of-type {
    @media #{$bp-mobile-medium-only} {
      margin-left: 15px;
    }

    @media #{$bp-mobile-large-only} {
      margin-left: 15px;
    }
  }

  #featured-bg-outer .layout-3col__full {
    @media #{$bp-desktop-only} {
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// Pop-up.
#popup-message-window {
  @media #{$bp-mobile-large-down} {
    // We need to override an inline style, hence !important.
    top: 100px !important;
    left: 25px !important;
    right: 25px !important;
    width: 480px !important;
    margin-left: auto;
    margin-right: auto;
  }

  @media #{$bp-desktop-only} {
    left: 25px !important;
    right: 25px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

// Carousel on mobile.
  .view-bud-carousel .views-field.views-field-field-banner-image {
    border: 5px solid #FFF;
    margin: 5px;
  }

  .view-bud-carousel .views-field.views-field-title {
    padding: 5px;
    background: #000;
    opacity: 0.8;
    margin: 5px;
  }

  .view-bud-carousel .views-field.views-field-title a {
    color: #FFF;
    text-decoration: none;
  }

  .owl-wrapper-outer {
    margin: auto;
  }

  .owl-prev {
    position: absolute;
    right: 0;
    top: 55px;
    background-image: url(/themes/bud/extra-images/images/jcarousel-next.png) !important;
    height: 51px;
    width: 30px;
  }

  .owl-next {
    position: absolute;
    left: 0;
    top: 55px;
    background-image: url(/themes/bud/extra-images/images/jcarousel-prev.png) !important;
    height: 51px;
    width: 30px;
  }

  .owl-theme .owl-controls {
    display: block !important;
  }

  .owl-theme .owl-controls .owl-buttons div {
    background: transparent;
    border-radius: 0;
    padding: 0;
    opacity: 1;
    text-indent: 999999px;
  }

// Carousel fixes.
.view-bud-carousel {
  padding-left: 50px;
  padding-right: 50px;

  @media screen and (min-width: 1224px) {
    margin-bottom: 25px;
  }
}

.owl-wrapper-outer {}

.owl-item {
  margin: 0;
  padding: 0;
  height: 145px;
  overflow: hidden;
}

.owl-controls .owl-buttons div.owl-prev,
.owl-controls .owl-buttons div.owl-next {
  top: 13px;
  
  @media screen and (min-width: 1224px) {
    top: 45px;
  }
}

.owl-controls .owl-buttons div.owl-prev {
  left: auto !important;
    right: 0 !important;
  margin-right: -45px;
}

.owl-controls .owl-buttons div.owl-next {
   left: 0 !important;
    right: auto !important;
  margin-left: -45px;
}

.image-style-bud-carousel {
  width: 100%;
  height: auto;
}

.owl-item .views-field-title {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
}

.lang-en #superfish-main,
.lang-ch #superfish-main {
  @include display-flex();
  @include flex("flex-wrap", "wrap");
}

.lang-en #superfish-main {
  @include flex("justify-content", "flex-start");
}

.lang-ch #superfish-main {
  @include flex("justify-content", "flex-end");
}

#superfish-main a {
  font-size: 1.083em;
}

#superfish-main .sf-child-is-hovered,
#superfish-main .sfHover,
#superfish-main .sf-no-children:hover {
  background: rgba(0, 0, 0, 0) url("../../../images/bg-menu.png") repeat scroll left top;
}

.sf-depth-1 {
  border-radius: 5px 5px 0 0 !important;
}

.lang-en #superfish-main li ul {
  margin-top: -1px;
}

main.layout-3col__full {
  margin: 0;
  padding: 0 0 21px;
}

.breadcrumb__list {
  margin-top: 6px;
}

.block p {
  margin: 0.55em 0 1em;
}

.bud-youtube-item {
  position: relative;

  .cb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
  }
}

#colorbox .cb,
#colorbox .cb iframe {
  width: 100%;
  height: 100%;
}

#colorbox .cb {
  z-index: 10;
  overflow: hidden;
}
