#language-switcher {
  @media #{$bp-mobile-large-down} {
    @include padding();
  }

  .language-switcher-language-url {
    @media #{$bp-mobile-large-down} {
      display: none;
    }
  }

  .lang-dropdown {
    display: none;

    @media #{$bp-mobile-large-down} {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @media #{$bp-mobile-small-down} {
      width: 100%;
    }
  }
}

.layout-center {
  @media #{$bp-mobile-large-down} {
    padding-left: 25px;
    padding-right: 25px;
  }
}

header {
  @media #{$bp-mobile-large-down} {
    text-align: center;
  }

  .site-logo img {
    @media #{$bp-mobile-small-down} {
      width: 100%;
    }
  }
}

// Hamburger.
#superfish-main-toggle {
  @media #{$bp-mobile-large-down} {
    background: rgba(0, 0, 0, 0)
      url("../../../images/burger_menu-256.png") 
      no-repeat scroll -0.45em 0 / 48px auto;
    display: block;
    height: 48px;
  }

  > span {
    @media #{$bp-mobile-large-down} {
      display: none;
    }
  }
}

// Slider.
#block-views-block-banner-block-1 {
  @media #{$bp-mobile-medium-down} {
    margin-top: 10px;
  }
  
  .flexslider {
    @media #{$bp-mobile-large-down} {
      border: 0;
      margin-bottom: 25px;
    }
  }

  .flex-control-paging {
    @media #{$bp-mobile-large-down} {
      display: none;
    }
  }
}

// Carousel.
#block-views-block-bud-carousel-block-1 {
  @media #{$bp-mobile-large-down} {
    padding-left: 30px;
    padding-right: 30px;
  }

  .owl-item:not(:last-child) {
    @media #{$bp-mobile-large-down} {
      margin-right: 25px;
    }
  }

  .owl-prev,
  .owl-next {
    @media #{$bp-mobile-large-down} {
      background-color: transparent;
      background-size: 100% 100%;
      color: transparent;
      height: 60px;
      width: 25px;
      position: absolute;
    }
  }

  .owl-prev {
    @media #{$bp-mobile-large-down} {
      background-image: url("/themes/bud/extra-images/images/jcarousel-prev.png");
      left: -35px;
    }
  }

  .owl-next {
    @media #{$bp-mobile-large-down} {
      background-image: url("/themes/bud/extra-images/images/jcarousel-next.png");
      right: -35px;
    }
  }

  .owl-controls {
    @media #{$bp-mobile-large-down} {
      position: absolute;
      top: 18px;
      width: 100%;
    }
  }
}

.is-path-frontpage .content-wrapper > div {
  @media #{$bp-mobile-large-down} {
    padding-left: 25px;
    padding-right: 25px;
  }

  h2 {
    @media #{$bp-mobile-large-down} {
      font-size: 1.75em;
    }
  }

  .block {
    @media #{$bp-mobile-large-down} {
      margin-bottom: 25px;
    }
  }
}

.view-bud-carousel {
  @media #{$bp-mobile-small-down} {}
}

#featured-outer {
  @media #{$bp-mobile-large-down} {
    @include padding();
  }
}

#featured-footer {
  @media #{$bp-mobile-large-down} {
    @include padding();
    clear: both;
  }

  img {
    @media #{$bp-mobile-large-down} {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  img:last-child {
    @media #{$bp-mobile-large-down} {
      margin-top: 15px;
    }
  }
}

#bud-footer {
  .layout-3col__col-1,
  .layout-3col__col-2,
  .layout-3col__col-3 {
    @media #{$bp-mobile-large-down} {
      @include padding();
    }
  }
}

#bottom-footer {
  @media #{$bp-mobile-large-down} {
    @include padding();
  }
}

.is-page-node-type-page {
  h1.page-title {
    @media #{$bp-mobile-large-down} {
      font-size: 2rem;
    }
  }

  #featured-outer {
    @media #{$bp-mobile-large-down} {
      padding: 25px 0;
      clear: both;
    }
  }

  .node_background .field--name-body h3 {
    @media #{$bp-mobile-large-down} {
      font-size: 190%;
    }
  }

  #block-supportlogosen {
    @media #{$bp-mobile-large-down} {
      margin-top: 25px;
      text-align: center;
    }
  }

  #block-supportlogosen p {
    @media #{$bp-mobile-large-down} {
      margin-bottom: 25px;
    }
  }

  .bud-youtube-item {
    @media #{$bp-mobile-large-down} {
      margin-bottom: 25px;
      text-align: center;
    }
  }

  iframe {
    @media #{$bp-mobile-medium-down} {
      width: 100%
    }
  }
}

.is-path-calendar-date {
  #block-supportlogosen {
    @media #{$bp-mobile-large-down} {
      margin-top: 25px;
      text-align: center;
    }
  }

  #block-supportlogosen p {
    @media #{$bp-mobile-large-down} {
      margin-bottom: 25px;
    }
  }
}

.is-page-node-type-date {
  iframe {
    @media #{$bp-mobile-medium-down} {
      width: 100%
    }
  }

  #block-supportlogosen {
    @media #{$bp-mobile-large-down} {
      margin-top: 25px;
      text-align: center;
    }
  }

  #block-supportlogosen p {
    @media #{$bp-mobile-large-down} {
      margin-bottom: 25px;
    }
  }
}
