/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";

body {
  line-height: 1.75em;
  color: #676767;
}

#block-introductionen .field--name-body {
  text-align: justify;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
  body .language-switch-select-form {
    display: block;
    padding-left: 20px;
    padding-right: 20px
  }

  .layout-center .header {
    padding-bottom: 0.5em;
  }

  .language-switcher-language-url,
  #toolbar-administration,
  body .language-switch-select-form label {
    display: none;
  }

  body .language-switch-select-form select {
    width: 100%;
    padding: 0.5em 0;
  }

  .site-logo img {
    width: 100% !important;
  }

  /* Main menu */
  #superfish-main-toggle {
    background: url(../../../images/burger_menu-256.png) no-repeat;
    background-size: 48px;
    height: 48px;
    display: block;
    background-position-x: -0.45em;
  }

  #superfish-main-toggle span {
    text-indent: -99999px;
    display:inline-block;
  }

  /* Hero slide */
  .sf-clone-parent {
    display: none;
  }

  .views-field views-field-field-banner-image {
    margin: 0 auto;
    width: 100%;
  }

  .layout-3col__full .flexslider {
    border: none;
  }

  .flex-control-nav.flex-control-paging {
    display: none;
  }

  /* Featured Footer */
  #featured-footer {
    clear: both;
  }

  /* Content */
  .layout-3col__col-1 p img,
  .layout-3col__col-2 p img,
  .layout-3col__col-3 p img {
    width: 48px;
    height: 48px;
    float: left;
    margin: 0px 15px 0px 0px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
  h1, h2, h3, h4, h5, h6 {
    color: #424242;
  }

  h3 {
    font-size: 190%;
    line-height: 1.25em;
  }

  div#single-day-container {
    height: 550px !important;
  }

  div#block-languageswitcherinterfacetext ul li {
    display: inline-block;
    margin: 10px;
  }

  .layout-center {
    max-width: 100%;
    padding: 0;
    clear: both;
    overflow: hidden;
  }

  body {
    font-size: 81.25%;
  }

  ul#superfish-main li a {
    text-decoration: none;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    line-height: normal;
    text-shadow: 0 2px 5px #333;
    padding: 8px 11px 7px;
  }

  ul#superfish-main li ul {
    background: #992B2E;
    border-radius: 0px 10px 10px 10px;
    margin-top: 2px;
  }

  ul#superfish-main li ul li a {
    color: #FFF;
    text-decoration: none;
  }

  span.sf-sub-indicator {
    display: none;
  }

  .is-path-frontpage #block-introductionen div,
  .is-path-frontpage #block-frontblock1en div,
  .is-path-frontpage #block-frontblock5en div {
    // min-height: 295px;
  }

  div#block-languageswitcherinterfacetext {
    z-index: 2;
  }

  div#language-switcher {
    float: left;
    width: 100%;
    background: url(/themes/bud/images/featured-pattern-bg.png);
  }

  div#language-switcher {
    background-color: #6998A5;
    margin-bottom: 30px;
  }


  div#block-languageswitcherinterfacetext {
    width: 960px;
    margin: auto;
  }

  div#block-languageswitcherinterfacetext ul {
    float: right;
    margin: 0;
    position: relative;
  }

  div#featured-bg {
    float: left;
    width: 100%;
    background: url(/themes/bud/images/featured-pattern-bg.png);
  }

  div#featured-bg-outer {
    background-color: #8FD6EA;
    float: left;
    width: 100%;
    clear: both;
  }

  #featured-bg-outer {
    float: left;
    width: 100%;
    clear: both;
    background-image: url(/themes/bud/images/featured-gr-bg.png);
    background-repeat: repeat-y;
    background-position: center top;
  }

  header.header,
  div#block-views-block-banner-block-1,
  div#block-views-block-bud-carousel-block-1,
  div#block-bud-breadcrumbs,
  div#block-frontfeaturedtext div,
  div#bud-footer .bud-footer-wrapper,
  .content-wrapper,
  div#featured-footer,
  div#bottom-footer div {
    width: 960px;
    margin: auto;
    clear: both;
  }

  div#featured-outer {
    clear: both;
    background: url(/themes/bud/images/featured2-shadow.png) left bottom repeat-x;
  }

  div#featured {
    background: url(/themes/bud/images/featured2-bg.png) left top repeat;
  }

  div#featured {
    background-color: #B41E1A;
    color: #c7c7c7;
  }

  .featured-footer div {
    margin: auto;
    width: 960px;
    text-align: center;
  }

  div#featured-inner {
    background: url(/themes/bud/images/featured2-top-bg.png) left top repeat-x;
  }

  div#featured-sub-inner {
    background: url(/themes/bud/images/featured2-bottom-bg.png) left bottom repeat-x;
  }

  div#block-frontfeaturedtext p {
    font-size: 1.83em;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }

  div#block-frontfeaturedtext {
    font-size: .8em;
  }

  div#bud-footer,
  div#bottom-footer {
    overflow: hidden;
    background-color: #333;
    color: #cecece;
    clear: both;
  }

  div#bud-footer-inner {
    overflow: hidden;
    background: url(/themes/bud/images/footer-glow-bg.png) center top repeat-x;
  }

  div#bud-footer-sub-inner {
    background: url(/themes/bud/images/footer-top-shadow.png) left top repeat-x;
    overflow: hidden;
  }

  div#bottom-footer {
    background: url(/themes/bud/images/footer-border.png) left top repeat-x;
  }

  div#bottom-footer {
    background-color: #333;
  }

  /* Re-captcha */
  .details-description {
    display: none;
  }

  details.captcha.js-form-wrapper.form-wrapper {
    border: 0;
  }

  summary {
    display: none;
  }

  #bud-footer table.mini .mini,
  #bud-footer table.mini td {
    background: #444444;
    border: 1px solid #333;
  }

  .block h2 {
    font-size: 1.750em;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 14px 0;
    padding: 0;
  }

  div#block-supportlogosfooter img {
    margin: 0 40px;
  }

  div#featured-footer div {
    text-align: center;
  }

  div#bud-footer .bud-footer-wrapper {
    margin-top: 25px;
  }

  .content-wrapper div {
    margin-top: 10px;
  }

  div#block-mainnavigation-5 {
    padding-top: 30px;
    padding-bottom: 39px;
    overflow: visible;
    float: right;
  }

  div#block-languageswitcherinterfacetext ul li a {
    color: #FFF;
    text-decoration: none;
  }

  div#block-views-block-banner-block-1 {
    margin-top: 30px;
  }

  .layout-3col {
    margin: auto;
    width: 960px;
  }

  ul#superfish-main li a.is-active {
    background: #992B2E;
    border-radius: 5px;
  }

  ul#superfish-main li {
    border-radius: 5px;
  }

  .sf-child-is-hovered,
  ul#superfish-main li a:hover {
    // background: #992B2E;
    border-radius: 5px;
  }

  ul#superfish-main li ul li a:hover {
    background-color: #660000;
    font-weight: normal;
  }

  ul#superfish-main li ul li a {
    font-weight: normal;
    text-shadow: none;
  }

  div#block-contactsinfo .icon-phone {
    background: url(/themes/bud/images/icons/footer-icon-phone.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
  }

  div#block-contactsinfo .icon-fax {
    background: url(/themes/bud/extra-images/images/icons/footer-icon-fax.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
  }

  div#block-contactsinfo .icon-email {
    background: url(/themes/bud/images/icons/footer-icon-mail.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
  }

  div#block-contactsinfo .icon-email a {
    color: #e8e8e8;
  }

  div#block-contactsinfo .icon-address {
    background: url(/themes/bud/images/icons/footer-icon-address.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
  }

  .icon-phone, .icon-fax, .icon-email, .icon-address {
    padding-left: 24px;
    margin-top: 0px;
    margin-bottom: 4px;
  }

  .view-bud-carousel .views-field.views-field-title {
    padding: 5px;
    opacity: 0.8;
    margin: 10px;
  }

  .view-bud-carousel span.field-content {
    width: 100%;
    display: block;
    background: #000;
  }

  div#flexslider-1 {
    margin: 0;
  }

  div#block-views-block-banner-block-1 {
    background: url(/themes/bud/images/feature-shadow.png) center bottom no-repeat;
    width: 960px;
    padding-bottom: 19px;
  }

  .flex-control-nav {
    position: relative;
    bottom: 34px;
    z-index: 2;
    margin-right: 10px;
    text-align: center;
    float: right;
    background: url(/themes/bud/images/ddbock-pager-bg.png) left top repeat;
    width: initial;
  }

  div#flexslider-1 {
    border: 0;
  }

  .flex-control-nav li {
    margin: 5px;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
  }

  div#block-full-width {
    clear: both;
    background: #B82C28;
  }

  div#block-bud-page-title {
    width: 960px;
    margin: auto;
  }

  div#block-bud-page-title .page-title .field--name-title {
    font-size: 32.50px;
  }

  .node-page .page-title {
    margin: 0;
    font-weight: normal;
    color: #FFF;
  }

  .node_background {
    background: #FFFFFF;
  }

  div#block-languageswitchblock div {
    display: inline-block;
    padding: 13px 10px 13px 10px;
  }

  div#block-languageswitchblock div a {
    border: 1px solid #c4c4c4;
    padding: 8px;
    color: #6c6c6c;
    border-radius: 4px;
    text-shadow: 1px 1px #ffffff;
    background: #f6f6f6 url(/themes/bud/images/button-bg.gif) left bottom repeat-x;
    line-height: normal;
    font-weight: normal;
    font-size: 1em;
  }

  div#block-languageswitchblock {
    background: #f8f8f8;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    margin-bottom: 40px;
    clear: both;
  }

  aside.layout-3col__right-sidebar {
    background: url(/themes/bud/images/sidebar-last-seperator.png) 10px top no-repeat;
    padding-top: 40px;
  }

  aside.layout-3col__right-sidebar div, aside.layout-3col__right-sidebar nav {
    padding-left: 10px;
    margin-bottom: 15px;
  }

  .is-page-node-type-page aside.layout-3col__right-sidebar nav ul li a {
    display: block;
    text-decoration: none;
    color: #444444;
    padding: 6px 18px;
    border-bottom: 1px solid #f2f2f2;
    background: url(/themes/bud/images/list-style-arrow.png) 6px 11px no-repeat;
  }

  .is-page-node-type-page table.style1 th, .is-page-node-type-page table.style1 td {
    padding: 2px 5px;
  }

  .is-page-node-type-page table.style1 td {
    border-bottom: 1px solid #eee;
  }

  .is-page-node-type-page table.style1 th[scope="col"] {
    background: #eee;
    color: #333;
    border-top: 1px solid #fff;
    border-right: 1px dotted #ccc;
    border-bottom: 1px solid #ddd;
    vertical-align: bottom;
  }

  .is-page-node-type-page table.style1 {
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 1px 5px #666;
    -khtml-box-shadow: 0px 1px 5px #666;
    -moz-box-shadow: 0px 1px 5px #666;
    -webkit-box-shadow: 0px 1px 5px #666;
  }

  .bud-youtube-item {
    display: inline-block;
    width: 175px;
    height: 215px;
    margin: 1em;
    vertical-align: text-top;
  }

  .bud-youtube-desc {
    text-align: center;
  }

  a:link, a:visited, li a.active, ul.pager a:link, ul.pager a:visited, .block .terms ul.links li a:link, .block .terms ul.links li a:visited {
    color: #5c5c5c;
    text-decoration: underline;
  }

  .breadcrumb a:link, .breadcrumb a:visited {
    padding: 0px 14px 0px 0px;
    margin-right: 9px;
    display: block;
    color: #cccccc;
    float: left;
    background: url(/themes/bud/images/breadcrumb_separator.png) right center no-repeat;
  }

  .breadcrumb {
    padding-bottom: 0px;
    width: auto;
    padding: 0 0px;
    line-height: 1.2em;
    color: #999999;
  }

  div#bud-footer .block h2,
  div#bud-footer .view-header h3 {
    color: #FFF;
  }

  .is-page-node-type-page .button span,
  .is-page-node-type-date .button span {
    position: relative;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.25);
    border-top: rgba(255,255,255,.2) 1px solid;
    padding: 0.6em 1.3em;
    line-height: 1em;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
  }

  a.button, a.button:link, a.button:active, a.button:hover, a.button:focus, a.button:visited {
    text-decoration: none;
  }

  .is-page-node-type-page .button.red,
  .is-page-node-type-date .button.red {
    background-color: #E62727 !important;
    padding: 10px;
    border-radius: 4px;
  }

  .is-page-node-type-page .button,
  .is-page-node-type-date .button {
    white-space: nowrap;
    line-height: 1em;
    position: relative;
    outline: none;
    overflow: visible;
    cursor: pointer;
    border: 1px solid #999;
    border: rgba(0,0,0,.2) 1px solid;
    border-bottom: rgba(0,0,0,.4) 1px solid;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background: -moz-linear-gradient(center top,rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%);
    background: -webkit-gradient(linear,center bottom,center top,from(rgba(0,0,0,.1)),to(rgba(255,255,255,.1)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF',EndColorStr='#19000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF',EndColorStr='#19000000')";
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-appearance: none;
    user-select: none;
    margin-bottom: 10px;
  }

  .is-page-node-type-page .button:hover,
  .is-page-node-type-page .button.hover,
  .is-page-node-type-date .button.hover {
    background: -moz-linear-gradient(center top,rgba(255,255,255,.2) 0%,rgba(255,255,255,.1) 100%);
    background: -webkit-gradient(linear,center bottom,center top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.2)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF',EndColorStr='#19FFFFFF');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF',EndColorStr='#19FFFFFF')";
  }

  h1.popup-message-title {
    margin-top: 0;
  }

  div#popup-message-content {
    width: 965px;
  }

  div#popup-message-window br {
    display: none;
  }

  .owl-item {}

  ul.js-pager__items {
    padding: 0;
  }

  div#block-views-block-content-field-date-on-calendar-block-1 .view-header h3 {
    margin: auto;
    display: block;
    width: 180px;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

.language-switch-select-form {
  display: none;
}

div,
span,
p,
li {
  font-family: Arial, Helvetica, sans-serif;
}

@import "settings";
@import "desktop_only";
@import "mobile";
